<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li>My books</li>
    <li>Continue reading</li>
    <li>Log in</li>
    <li>Log out</li>
    <li><%= link_to 'New Reader', new_user_path %></li>
  </ul>
</nav>
<hr>